@model DataBase.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row justify-content-center align-items-center">    
    <div class="col-md-5">
        <form asp-action="Login">
            <div class="d-flex justify-content-center">
                <p class="font-weight-bold h4">Log in</p>
            </div>
            <div class=" border p-3 mb-5 bg-white rounded mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label text-muted"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label text-muted"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-danger rounded-pill form-control mt-3 btn-lg" />
                </div>
                <div class="form-group">
                    Dont have an account? <a asp-action="Register">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
