@model Services.Dto.UserDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/cssfolder/radiobuttonstyle.css" rel="stylesheet" />

<div class="container mt-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <p class="font-weight-bold h4">Sign up</p>
            </div>
            <div class="border p-3 mb-5 bg-white rounded mt-3">
                <form asp-action="Register" id="form" name="myForm" onsubmit="return CheckAllRequired()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group d-flex justify-content-center">
                        <span class="text-danger text-center">@ViewBag.RegisterError</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input asp-for="UserName" name="UserName" id="UserNameText" class="form-control" onkeyup="UserCheck();" />
                        <span id="StatusUser"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" name="Email" id="EmailText" class="form-control" onkeyup="EmailCheck();" />
                        <span id="StatusEmail"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input id="Password" name="Password" asp-for="Password" class="form-control" />
                        <span id="StatusPass"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm password</label>
                        <input id="ConfirmPass" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" />
                        <span id="StatusConPass"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label><br />
                        <input type="radio" name="Role" value="Creator" /> Creator <br />
                        <input type="radio" name="Role" value="Reader" checked /> Reader
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-danger rounded-pill form-control mt-3 btn-lg" />
                    </div>
                    <div class="form-group">
                        Already have an account? <a asp-action="Login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .Redder {
        border-color: red;
    }

    .Greener {
        border-color: green;
    }
</style>

<script type="text/javascript">
    function UserCheck() {
        /*$('#Status').html("Checking...");*/
        $.post("@Url.Action("CheckUsernameExits", "Validations")",
            {
                username: $("#UserNameText").val()
            },
            function (data) {
                if (data == 0) {
                    $("#StatusUser").html('<font color="Green">User available !');
                    $("#UserNameText").addClass("Greener");
                }
                else if (data == 1) {
                    $("#StatusUser").html('<font color="Red">User not available !');
                    $("#UserNameText").removeClass("Greener");
                    $("#UserNameText").addClass("Redder");                    
                }
                else if (data == null) {
                    $("#StatusUser").text('');
                    $("#UserNameText").removeClass("Redder");
                    $("#UserNameText").removeClass("Greener");
                }
            });
    }

    function EmailCheck() {
        /*$('#Status').html("Checking...");*/
        $.post("@Url.Action("CheckEmailExits", "Validations")",
            {
                email: $("#EmailText").val()
            },
            function (data) {
                if (data == 0) {
                    $("#StatusEmail").html('<font color="Green">Email available !');
                    $("#EmailText").addClass("Greener");
                }
                else if (data == 1) {
                    $("#StatusEmail").html('<font color="Red">Email not available !');
                    $("#EmailText").removeClass("Greener");
                    $("#EmailText").addClass("Redder");
                }
                else if (data == null) {
                    $("#StatusEmail").text('');
                    $("#EmailText").removeClass("Redder");
                    $("#EmailText").removeClass("Greener");
                }

            });
    }

    function CheckAllRequired() {
        if (document.myForm.UserName.value == '') {
            $("#StatusUser").html('<font color="Red">Username is required !');
            $("#UserNameText").addClass("Redder");
            return false;
        }
        if (document.myForm.Email.value == '') {
            $("#StatusEmail").html('<font color="Red">Email is required !');
            $("#EmailText").addClass("Redder");
            return false;
        }
        if (document.myForm.Password.value == '') {
            $("#StatusPass").html('<font color="Red">Password is required !');
            $("#Password").addClass("Redder");
            return false;
        }
        if (document.myForm.Password.value != document.myForm.ConfirmPassword.value) {
            $("#StatusConPass").html('<font color="Red">Passwords must match !');
            $("#ConfirmPass").addClass("Redder");
            return false;
        }
        else {
            $("#UserNameText").removeClass("Redder");
            $("#EmailText").removeClass("Redder");
            $("#Password").removeClass("Redder");
            $("#ConfirmPass").removeClass("Redder");
            return true;
        }
    }

</script>