@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model IEnumerable<DataBase.PageContent>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <h1>Hi, @HttpContextAccessor.HttpContext.Session.GetString("Username").ToString()</h1>
    <div class="row">
        <div class="col-7">
            <p class="text-muted">Overview</p>
            <div class="border p-3  mb-5 bg-white rounded">
                <table class="table table-borderless">
                    <tr>
                        <th>
                            <p>0</p>
                            <p class="text-muted">active patrons</p>
                            <a href="#">View relationship manager</a>
                        </th>
                        <th class="border-left" style="padding-left:60px;">
                            <p>$0</p>
                            <p>per month</p>
                            <a href="#">View earnings dashboard</a>
                        </th>
                    </tr>
                </table>
            </div>

            <p class="text-muted">Next steps</p>
            <div class="border p-3 mb-5 bg-white rounded font-weight-bold">
                <p>Need ideas for a post?</p>
                <table class="table table-borderless">
                    <tr>
                        <th>
                            <ul>
                                <li><a href="#">Behind the scenes</a></li>
                                <li><a href="#">Livestream, Q&A</a></li>
                                <li><a href="#">Early access</a></li>
                            </ul>
                        </th>
                        <th>
                            <ul>
                                <li><a href="#">Polls</a></li>
                                <li><a href="#">Exclusive downloads</a></li>
                                <li><a href="#">Life & work updates</a></li>
                            </ul>
                        </th>
                    </tr>
                </table>
            </div>

            <div class="border p-3 mb-5 bg-white rounded font-weight-bold">
                <p>Ideas for promoting on social media</p>
                <p class="text-muted font-weight-normal">To help you build your audience and get your amazing works out to more people, here are 8 quick tips for posting on social media.</p>
                <a href="#" class="btn btn-outline-secondary rounded-pill">Get examples</a>
            </div>
        </div>


        <div class="col-5">
            <p class="text-muted">Recent activity</p>
            <div class="border p-3 mb-5 bg-white rounded font-weight-bold">
                <p>No unread messages from patrons</p>
                <a href="#">View messages</a>
            </div>

            <div class="border bg-white font-weight-bold rounded">
                <div class="p-3">
                    RECENT POSTS

                    <div class="float-right"><a class="font-weight-normal text-right" asp-controller="Home" asp-action="ContentList">View all posts</a></div>
                </div>
                @if (Model.Count() < 1)
                {
                    <div class="border p-3 rounded-bottom bg-white">
                        <div class="d-flex justify-content-center">
                            <p class="text-muted">You haven't posted anything yet</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a asp-controller="Home" asp-action="CreateContent" class="btn btn-info btn-lg rounded-pill">Make a post</a>
                        </div>
                    </div>
                }
                else
                {
                    <table class="table table-borderless">
                        @foreach (var item in Model)
                        {
                            <tr class="border-top">
                                <th>
                                    <div class="d-flex">
                                        <div class="bg-secondary rounded m-2" style="width:80px; height:80px;">
                                            @if (item.Image != null)
                                            {
                                                <div class="bg-white" style="width:80px; height:80px;">
                                                    <img src="~/images/@item.Image" class="rounded" style="width:80px; height:80px;" alt="" />
                                                </div>
                                            }
                                        </div>
                                        <div class="p-2">
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <p class="text-muted font-weight-normal mt-1">@Html.DisplayFor(modelItem => item.PublicationData)</p>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        }
                    </table>
                }
            </div>

        </div>
    </div>
</div>
