

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <h1 class="mt-5 text-danger">You need to be a creator to acess this page!</h1>
        </div>
    </div>
</div>